
@font-face {
  font-family: 'iconfont';  /* project id 1534859 */
  src: url('http://at.alicdn.com/t/font_1534859_15kcxo7obi.eot');
  src: url('http://at.alicdn.com/t/font_1534859_15kcxo7obi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1534859_15kcxo7obi.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1534859_15kcxo7obi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1534859_15kcxo7obi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1534859_15kcxo7obi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}