
@font-face {
  font-family: 'iconfont'; 
  src: url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.eot');
  src: url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.svg#iconfont') format('svg');
}
/*@font-face {
  font-family: 'iconfont'; 
  src: url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.eot');
  src: url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1534859_bah8ucgtxpg.svg#iconfont') format('svg');
}*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}